.my-container {
  width: 100vw;
  min-height: calc(100vh - 100px);
}

.example {
  padding-left: 100px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.example h1 {
  color: red;
}
.example img {
  border: 2px solid red;
}
.example button {
  background: transparent;
  padding: 1em 3em;
  border-radius: 10px;
  font-size: 1.1rem;
  margin-top: 10px;
  color: white;
}
.example .btn1 {
  background: green;
}
.example .btn2 {
  background: red;
}
.example input {
  border-radius: 10px;
  padding: 0.5em 1em;
  margin-top: 1em;
  border: 1px solid red;
}
